# These are default metrics displayed on built-in slides
default: {

    pcya: n/a,
    order_count_pcya: n/a,
    food_variance: n/a,
    labor_variance: n/a,
    adt: n/a,
    extremes: n/a,
    cash: n/a,

}

# Add a slide to quadrant 1 (takes image paths from /resources/uploaded/)
quadrant1: {

    test_thing.png,

}
