default {

    pcya: n/a,
    order_count_pcya: n/a,
    food_variance: n/a,
    labor_variance: n/a,
    adt: n/a,
    extremes: n/a,
    cash: n/a,

}

quadrant_1 {

    "test_thing.png"

}

quadrant_2 {

    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"
    "test_thing.png"

}

quadrant_3 {

    "test_thing.png"

}

quadrant_4 {

    "test_thing.png"

}